<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tibbytang.admob.example">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <application
        android:name=".AdmobApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Admobexample">
        <activity
            android:name=".ads.NativeActivity"
            android:exported="false"></activity>
        <activity
            android:name=".ads.RewardedActivity"
            android:exported="false" />
        <activity
            android:name=".ads.RewardedInterstitialAdActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ads.InterstitialActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ads.BannerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <!-- 替换为自己在admob 后台申请的id -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>